
//mobile first load_menu_top_plus_mobile.scss

#top_menu_c{
	width: 100%;	
	height: auto;
	margin-top: 4%;
	margin: auto;
	background: $lightbox_green_grad1;	
	text-align: justify;
	margin-top: 5%;
}	

	#top_menu_c div{
		width: 90%;
		height: auto;
		color: white;
		display: table;			
		padding: 20px 0px;
		border-bottom: 1px solid white;
		margin: 0 auto;	

	}	

		#top_menu_c div:last-child{
			border-bottom: 0px solid transparent;
		}

		#top_menu_c div span{
			width: 20%;
			font-size: 2.5rem;					
			display: table-cell;
			vertical-align: middle;
		}

		#top_menu_c div h3{
			width: 80%;
			font-size: 1.2rem;					
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}

		#top_menu_c div:hover{
			color: $lightbox_green1;
		}

		