//_cabecera del perfil de usuario director mobile
#u_head{
	width: 100%;
	height: auto;
	background-color: $base_C_green;
}

	#u_head span{
		font-size: 2.1rem;
	}

	#u_perf{
		width: 50%;
		height: 50px;
		display: inline-block;
		font-family: $base_f_standar;
		font-size: 1.5rem;
		color: white;		
	}

	#u_perf_m{
		width: 20%;
		height: 50px;
		display: inline-block;	
		font-size: 1.5rem;
		color: white;		
	}

	#b_u_p{
		width: 100%;
		display: block;
		list-style: none;
		font-family: $base_f_standar;
		font-size: 1.5rem;
		color: #555;
		padding: 2% 0;
	}